#navegacion ul {
list-style-type: none;
text-align: center;
padding-top: 10px;
}

#navegacion li {
 display:inline;
 text-align: center;
 margin: 0 10px 0 0;
 
    }

    header nav{
        grid-area: nav; 
    }

    .semestreNum{
    border-color: aliceblue #39772F;
    border-width: 5px;
    border-style: solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom-color: #39772F;
    }

    .nombreMateria{
        border-bottom-color: aliceblue #AEBB61;
        border-width: 5px;
        border-style: solid;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-bottom-color: #AEBB61;   
    }

    .descripcionMateria{
       border-bottom-color: aliceblue #AEBB61;
        border-width: 5px;
        border-style: solid;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-bottom-color: #AEBB61; 
    }

    h1 {
        text-align: center;
        font-size: 25px;
    }

    h2 {
        text-align: center;
        font-size: 25px;
    }

    h3 {
        text-align: center;
        font-size: 25px;
    }

    #navegacion li a{
        padding: 2px 7px 2px 7px;
        color: rgb(255, 255, 255);
        text-decoration: none;
           }
    
    /*#navegacion li a{
        padding: 2px 7px 2px 7px;
        border-radius: 15px ;
        color: rgb(255, 255, 255);
        background-color: #202940;
        border: 1px solid darkslategray;
        text-decoration: none;
           }*/

           #navegacion {
            background-color: #AEBB61;
            height: 60px;
            border: 20px;
           }

           .indice {
            width: 100%;
           }
           
           .semestres {
            align-items: center;
            width: 79%;
           }

           .semestres th {
            font-weight: normal;
            font-family: sans-serif;
            max-width: 20px;
           }

           
           .zoom {
            overflow:hidden;
            height: 300px;
            max-height: 120px;
           }

           .zoom button{
            width: 100%;
            transition: 0.5s all ease-in-out;
           }


           .zoom:hover button{
            transform: scale(1.5);
           }

           .zoom2 {
            overflow: hidden;
            max-height: 120px;
           }

           .zoom2 button{
            width: 100%;
            transition: 0.5s all ease-in-out;
           }
           

           .zoom2:hover button{
            transform: scale(1.5);
           }

           .zoom3 {
            overflow: hidden;
            max-height: 120px;
           }

           .zoom3 button {
            width: 100%;
            transition: 0.5s all ease-in-out;
           }
           

           .zoom3:hover button{
            transform: scale(1.5);
           }

           .zoom4 {
            overflow: hidden;
            max-height: 120px;
           }

           .zoom4 button{
            width: 100%;
            transition: 0.5s all ease-in-out;
           }
           

           .zoom4:hover button{
            transform: scale(1.5);
           }

           .zoom5 {
            overflow: hidden;
            max-height: 120px;
           }

           .zoom5 button{
            width: 100%;
            transition: 0.5s all ease-in-out;
           }
           

           .zoom5:hover button{
            transform: scale(1.5);
           }

           .zoom6 {
            overflow: hidden;
            max-height: 120px;
           }

           .zoom6 button{
            width: 100%;
            transition: 0.5s all ease-in-out;
           }
           

           .zoom6:hover button{
            transform: scale(1.5);
           }

           .zoom7 {
            overflow: hidden;
            max-height: 120px;
           }

           .zoom7 button{
            width: 100%;
            transition: 0.5s all ease-in-out;
           }
           

           .zoom7:hover button{
            transform: scale(1.5);
           }

           .zoom8 {
            overflow: hidden;
            max-height: 120px;
           }

           .zoom8 button{
            width: 100%;
            transition: 0.5s all ease-in-out;
           }
           
           .zoom8:hover button{
            transform: scale(1.5);
           }

           .zoom9 {
            overflow: hidden;
            max-height: 120px;
           }

           .zoom9 button{
            width: 100%;
            transition: 0.5s all ease-in-out;
           }
           

           .zoom9:hover button{
            transform: scale(1.5);
           }

           button {
            width: 250px;
            height: 120px;
            font-size: 1.5rem;
            background-color: #39772F;
            border: #39772F;
            color:antiquewhite;
            
           }

           #inicioSesion ul {
            list-style-type: none;
            text-align: center;
            padding-top: 10px;
            }

            #inicioSesion a {
                align-items: center;
             color: rgb(224, 224, 224);   

            }
            
            #inicioSesion li {
             display:inline;
             text-align: center;
             margin: 0 10px 0 0;
                }
            
                #inicioSesion li a{
                    padding: 2px 7px 2px 7px;
                    color: rgb(255, 255, 255);
                    background-color: #202940;
                    border: 1px solid darkslategray;
                    text-decoration: none;
                       }
            
                       #inicioSesion {
                        height: 60px;
                        color: white;
                       }
                       
                       #cabeza {
                        background-color: darkslategray;
                        padding: 40px 10px 40px 10px;
                       }

                    aside {
                        float:left;
                        width: 20%;
                    }
#titulo{
    background-color: #39772F;
    height: 60px;
    color: white;
    height: 80px;
}

.main{
    border-color: aliceblue #39772F;
    border-width: 5px;
    border-style: solid;
    border-left: 0px;
    background-color: aliceblue;
}

.main a{
    color: rgb(0, 0, 0);
}